@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card: var(--card); /* Nova variável para os cards */
  --color-border: var(--border);
  --color-hover: var(--hover);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root, [data-theme='light']{  
  /* Tema Light */
  --background: #fff; 
  --foreground: #5b5b5b;
  --primary: #262626;
  --card: #fcfcfc; 
  --border: #d6d6d6;
  --hover: #878787;
}

[data-theme='dark'] {
  --background: #171717;
  --foreground: #6b6b6b;
  --primary: #b8b8b8;
  --card: #0a0a0a;
  --border: #262626;
  --hover: #e6e6e6;
}

[data-theme='rosa'] {
  /* Tema Rosa - Um tom mais saturado que o light */
  --background: #fce7f3; 
  --foreground: #4a0415;
  --primary: #f472b6;
  --card: #ffd5ed;
  --border: #fbcfe8;
  --hover: #ffcde7;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
}